@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500;700&family=Volkhov:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh; 
    width: 100%;
    background-image: url('/images/decore.png');
    background-position: top right;
    background-repeat: no-repeat;    
}

/* NavBar Styling starts here */
.nav-bar {
    display: flex;
    height: 40px;
    width: 1165px;
    margin-top: 3rem;
    margin-left: 6rem;
}

.nav-link {
    display: flex;
}

.nav-link li {
    padding-top: .7rem;
    margin-left: 8.5rem;
    list-style: none;  
}

.sign-up {
    width: 102px;
    height: 40px;
    margin-left: 3.25rem;
    color: #212832;
    font-size: 1.1rem;
    background-color: #FFF1DA;
}

.sign-up:hover {
    cursor: pointer;
    background-color: #212832;
    color: #ffff;
}

select {
    margin-top: .2rem;
    margin-left: 2rem;
    border: none;
    outline: none;
}

select:hover {
    cursor: pointer;
    color: #F7CD73;
}

.nav-link a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
    color: #212832;
    font-size: 1.1rem;
}

.nav-link a:hover {
    color: #F7CD73;
}

/* NavBar Styling ends here */

/* Hero Styling starts here */
.hero-wrapper {
    width: 1200px;
    height: 740px;
    margin-left: 6rem;
    display: flex;
    margin-bottom: 6.1rem;
}

.description {
    width: 550px;
    height: 490px;
    margin-top: 8rem;
}

.description h1 {
    width: 430px;
    height: 30px;
    color: #DF6951;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.description h2 {
    width: 490px;
    height: 260px;
    font-family: 'Volkhov', serif;
    font-weight: 700;
    font-size: 4.7rem;
    color: #181E4B;
    letter-spacing: -0.04em;
    line-height: 89px;
    margin-bottom: 1.8rem;
}

.description p {
    width: 465px;
    height: 80px;
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #5E6282;
    line-height: 30px;
    margin-bottom: 2rem;
}

.cta {
    display: flex;
    width: 379px;
    height: 60px;
}

.cta button {
    width: 170px;
    height: 60px;
    background-color: #F1A501;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    outline: none;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
}

.cta object{
    margin-top: -0.8rem;
}

.cta span {
    font-style: 1rem;
    color: #686D77;
    width: 92px;
    height: 26px;
    margin-top: 5rem;
}

.hero-bg {
    width: 700px;
    height: 720px;
    margin-top: 1.1rem;
    padding-left: 3rem;
    background: url('/images/traveller.png') no-repeat;
}
/* Hero Styling ends here */

/* Services styling starts */
.service-wrapper {
    width: 1200px;
    height: 525px;
    margin-left: 6rem;
}

.title {
    font-size: 1.1rem;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #5E6282;
    text-transform: uppercase;
    width: 98px;
    height: 27px;
    margin: auto;
    margin-bottom: 0.7rem;
}

.subtitle {
    text-transform: capitalize;
    font-family: 'Volkhov', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2.8rem;
    width: 500px;
    height: 65px;
    margin: auto;
}

.service-wrapper span {
    width: 50px;
    position: relative;
    left: 65.5rem;
    bottom: 6.5rem;
    
}

.services-list {
    display: flex;
    justify-content: space-around;
    margin-top: -4rem;
}

.flex-item {
    width: 260px;
    height: 315px;
    padding: 3.4rem;
    text-align: center;
    border-radius: 2rem;
    position: relative;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
}


.flex-item h3 {
    font-size: 1.25rem;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;

}

.flex-item p {
    /* outline: 1px solid red; */
    width: 175px;
    height: 78px;
    font-size: 0.9rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin-top: 0.9rem;
}


/* Destination service  */
.destination-wrapper {
    width: 1200px;
    height: 600px;
    margin-left: 6rem;
    
}
.destination-title {
    margin-top: 7rem;
    width: 150px;
}

.destination-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 3.7rem;
}

.card-container {
    width: 315px;
    height: 437px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 24px;
    overflow: hidden;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
}

.card-container img {
    width: 100%;
}

.country {
    width: 267px;
    height: 22px;
    color: #5E6282;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1.6rem;
    margin-left: 2rem;
}

.card-container span {
    padding-left: 6rem;
}

.icon {
    margin-left: 2rem;
    margin-top: 1rem;
}

.trip {
    width: 90px;
    height: 20px;
    margin-left: -5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 124.5%;
    color: #5E6282;
}

/* booking styling */
.booking-wrapper {
    width: 1200px;
    height: 480px;
    margin-left: 6rem;
    margin-top: 11rem;
    display: flex;
   
    padding-left: 8rem;
}

.booking-caption h2 {
    width: 126px;
    height: 27px;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: #5E6282;
}

.booking-caption h3 {
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 3rem;
    width: 500px;
    height: 130px;
    text-transform: capitalize;
}

.booking-details {
   display: flex;
   width: 395px;
   height: 64px;
   margin-bottom: 3rem;
}

#flex-airport h4 {
    width: 254px;
}

.booking-details object {
    width: 47px;
    height: 48px;
}

.flex-booking h4 {
    color: #5E6282;
    width: 161px;
    height: 20px;
    margin-left: 1.3rem;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
}

.flex-booking p {
    width: 333px;
    height: 40px;
    margin-top: 0.25rem;
    margin-left: 1.3rem;
    color: #5E6282;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
}

.trip-wrapper {
    width: 455px;
    height: 440px;
}

.trip-card {
    width: 370px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
    margin: auto;
}

.trip-card img {
    border-radius: 24px;
    margin-top: 1.25rem;
    margin-left: 1.5rem;
}

.trip-card h3 {
    width: 134px;
    height: 22px;
    margin-top: 1.6rem;
    color: #080809;
    margin-left: 1.5rem;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.015em;

}

.trip-card p {
    width: 200px;
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -0.005em;
    color: #84829A;
}

.trip-container object {
    margin-left: 1.78rem;
}

.trip-container {
    display: flex;
}

/* Logo section */
.logo-wrapper {
    margin-top: 6rem;
    margin-left: 10rem;
    width: 1000px;
    height: 162px;
    display: flex;
    justify-content: space-evenly;
}

.axon {
    /* outline: 1px solid blue; */
    width: 150px;
    height: 150px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    margin-top: 0.7rem;
}

#jetstar {
    padding-top: 0.9rem;

}
.expedia {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}

.qantas {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    padding-top: 4rem;
}

/* subscribe section */
.subscribe-wrapper {
    width: 1000px;
    height: 407px;
    margin-top: 5.4rem;
    margin-left: 10rem;
}

.inner-box {
    background: #F8F7FE;
    border-radius: 20px 129px 20px 20px;
    width: 1000px;
    height: 407px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.inner-box p {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 859px;
    height: 108px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #5E6282;
    padding-top: 4rem;
    padding-right: 7rem;
}

form {
    padding-left: 15rem;
    margin-top: 7.5rem;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

input {
    width: 421px;
    height: 68px;
    border: none;
    padding-left: 3rem;
    border-radius: 10px;
   background: url(/images/email.svg) no-repeat left;
}

input:focus {
    border: none;
    outline: none;
}

button {
    margin-left: 1.5rem;
    width: 180px;
    height: 68px;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: #c24a37;
}

/* footer */
.footer {
    width: 1200px;
    height: 300px;
    margin-left: 6rem;
    margin-top: 8.3rem;
}

.footer-flex {
    display: flex;
    justify-content: space-evenly;
}

.flex-1 h2 {
    width: 152px;
    height: 66px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2.7rem;
    color: #181E4B;
}

.flex-1 p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.8rem;
    color: #5E6282;
    margin-top: 1.1rem;
    width: 207px;
}

.flex-2 {
    width: 108px;
    height: 156px;
}

.flex-2 h3 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.2rem;
    color: #080809;
}

.flex-2 ul {
    margin-top: 2rem;
    list-style: none;
}

.flex-2 li {
    margin-bottom: 0.75rem;
    
}

.flex-2 a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
    color: #5E6282;
}

.rights {
    width: 203px;
    height: 17px;
    margin-top: 5.2rem;
    margin-left: 30rem;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.8rem;
    color: #5E6282;
}


/* Media queries */
/* large devices */
@media(min-width: 1200px) {
    .nav-bar {
        
    }
}

/* Medium devices */
@media(min-width: 992px) and (max-width: 1199px) {
    .nav-link a {
        font-size: 1rem;
    }
    .sign-up {
        font-size: 1rem;
    }
    .nav-link li {
        margin-left: 4rem;
    }
    .hero-wrapper {
        width: 885px;
    }
    .description h1 {
        font-size: 1.1rem;
    }
    .description h2 {
        font-size: 2.5rem;
        width: 450px;
        height: 150px;
    }
    .hero-bg {
        width: 400px;
        height: 800px;
        background: url('/images/traveller-reduced.png') no-repeat;
    }
}

/*small devices only */
@media(min-width: 768px) and (max-width: 991px) {

}

/*extra small devices only */
@media(max-width: 767px) {

}